
body {

    div#msg {
        height: 500px;
        background-color: rgb(230, 230, 230);

        img#backgroundimage {
            display: block;
            position: relative;
            z-index: 1;
            margin: 0px auto 0px auto;
            top: 46px;
            max-width: 400px;
            width: 100%;
        }

        // div#table {
        //     position: relative;
        //     z-index: 0;
        //     height: 214px;
        //     margin: 0px;
        //     top: 0px;
        //     background-color: rgb(173, 223, 234);
        // }
    }

    div#content {
        height: auto;
        border-top: var(--gray-border);
        z-index: 2;
        padding: 50px 0px 50px 0px;
    }
}
