body input#checkboxMenuMobileOpen {
  display: none;
}
body label#MenuMobile, body label#MenuMobile::before, body label#MenuMobile::after {
  display: none;
  width: 30px;
  height: 3px;
  background: var(--first-color);
  transition: all 0.6s ease;
}
body label#MenuMobile {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
body label#MenuMobile::before {
  content: "";
  transform: translateY(-9px);
}
body label#MenuMobile::after {
  content: "";
  transform: translateY(7px);
}
body input#checkboxMenuMobileOpen:checked ~ header#header label#MenuMobile {
  width: 0px;
  margin-right: 40px;
}
body input#checkboxMenuMobileOpen:checked ~ header#header label#MenuMobile::before {
  transform: rotate(45deg) translate(2px);
}
body input#checkboxMenuMobileOpen:checked ~ header#header label#MenuMobile::after {
  transform: rotate(-45deg) translate(2px);
}
body header#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px;
  border-bottom: var(--gray-border);
  background-color: #fff;
  z-index: 99;
  position: absolute;
  width: calc(100% - 8px);
  top: 0px;
}
body header#header div#logo img {
  height: 50px;
  display: inline-block;
}
body header#header div#logo h1 {
  font-size: 18pt;
  font-family: "OpenSans-regular";
  display: none;
  margin: 0px;
  position: relative;
  top: -14px;
  margin: 0px 0px 0px 10px;
}
body header#header ul#buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body header#header ul#buttons li {
  display: flex;
  margin: 0px 10px 0px 0px;
}
body header#header ul#buttons li a {
  text-decoration: none;
  font-family: "OpenSans-regular";
  display: block;
  padding: 10px;
}
body header#header ul#buttons li a:hover {
  background-color: var(--first-color);
  color: #fff;
  border-radius: 4px;
}
body header#header ul#buttons li a#btnColumnists:hover ~ ul.subColumnists {
  display: block;
}
body header#header ul#buttons li ul.subColumnists {
  position: absolute;
  top: 52px;
  display: none;
  background-color: #fff;
  z-index: 99;
  padding: 10px 0px;
  width: 150px;
}
body header#header ul#buttons li ul.subColumnists li {
  text-align: center;
  width: 100%;
  display: block;
}
body header#header ul#buttons li ul.subColumnists:hover {
  display: block;
}
body header#header ul#buttons li.invisible-items-menu-columnists {
  display: none;
}
body header#header ul#buttons a#btnSearch {
  width: 30px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("../resource/Search.png");
  background-size: 24px;
  background-position: 3px;
  background-repeat: no-repeat;
}

@media (max-width: 1146px) {
  body input#checkboxMenuMobileOpen:checked ~ header#header ul#buttons {
    display: flex;
  }
  body header#header div#logo h1 {
    display: inline-block;
  }
  body header#header ul#buttons {
    display: none;
  }
  body header#header ul#buttons {
    width: 100%;
  }
  body header#header ul#buttons li {
    width: 100%;
    margin: 1.8px auto;
  }
  body header#header ul#buttons li a {
    width: 90%;
    text-align: center;
    margin: 0px auto;
  }
  body header#header ul#buttons li a#btnColumnists:hover ~ ul.subColumnists {
    display: none;
  }
  body header#header ul#buttons li.invisible-items-menu-columnists {
    display: block;
    width: 100%;
  }
  body header#header ul#buttons li.invisible-items-menu-columnists a {
    width: 70%;
    margin: 0px auto;
  }
  body header#header ul#buttons a#btnSearch {
    width: 90%;
    margin: 0px auto;
    background-position: 50%;
  }
  body header#header label#MenuMobile,
body header#header label#MenuMobile::before,
body header#header label#MenuMobile::after {
    display: block;
  }
}
@media (max-width: 424px) {
  body header#header div#logo h1 {
    display: none;
  }
}
body footer#footer {
  height: 60px;
  z-index: 2;
  background-color: #001683;
  text-align: center;
}
body footer#footer iframe#map {
  border: 0px;
  width: 80%;
  height: 325px;
  top: 10px;
  margin: 0px auto 0px auto;
  position: relative;
  display: block;
}
body footer#footer p {
  font-family: "OpenSans-regular";
  font-size: 13pt;
  color: #fff;
  display: block;
  position: relative;
  top: 17px;
  margin: 0px;
}